@model TracNghiem.Models.Khois

@{
    ViewBag.Controller = "Khối/lớp";
    ViewBag.Title = "Chi tiết khối/lớp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            Khối/lớp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhoi)
        </dd>

        <dt>
            Meta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meta)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Khois", new {id = Model.id })" class="btn btn-warning" style="margin: 0px 5px;">
        <i class="fas fa-edit"></i>
        <span>
            <strong>Cập nhật</strong>
        </span>
    </a>

    <a href="@Url.Action("Index", "Khois")" class="btn btn-primary" style="margin: 0px 5px;">
        <i class="fas fa-list"></i>
        <span>
            <strong>Danh sách</strong>
        </span>
    </a>
</p>
